/* Your Custom code here */
.wrapper {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}
/*
Header Styles
*/
.header {
  background-image: url("img/back-desktop.png");
  background-size: auto;
  background-position-x: 31.25%;
}
.header-top {
  height: 112px;
  background-color: rgba(0, 0, 0, 0.3);
}
.header-top__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 112px;
}
.logo-header {
  width: 17%;
  padding-left: 10px;
}
nav {
  widows: 83%;
}
.nav-items {
  display: flex;
  padding-right: 10px;
}
.nav-items li {
  padding-left: 45px;
}
.nav-items li a {
  color: white;
  font-size: 18px;
}
/*
Footer Styles
*/
footer {
  height: 197px;
  width: 100%;
  display: flex;
  align-items: center;
}
.footer-top {
  display: flex;
}
.logo-footer {
  padding-left: 10px;
  width: 17%;
}
.social {
  width: 70.2%;
  display: flex;
  justify-content: space-around;
  padding-left: 22.917%;
  padding-right: 22.917%;
}
.social-block {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e9ebec;
  border-radius: 50%;
}
.social-svg {
  width: 23px;
  height: 21px;
}
.developer {
  width: 55.33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}
.developer > p {
  margin-bottom: 0;
  font-size: 18px;
  color: #283645;
}
.html-svg {
  width: 30px;
  height: 35px;
}
/* Стили для slide */
.home-slide {
  background-image: url("img/back-desktop.png");
  background-size: auto;
  background-position-x: 31.25%;
  background-position-y: -110px;
  min-height: 745px;
  color: white;
}
.home-slide h1,
.home-slide a {
  color: white;
}
.home-slide h1 {
  font-size: 50px;
  width: 240px;
  margin: 0 auto;
  text-transform: unset;
}
.home-slide a {
  width: 300px;
  height: 55px;
  display: flex;
  border: 2px solid;
  border-radius: 50px;
  font-size: 21px;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.slide {
  display: flex;
}
.slide-text {
  width: 380px;
  padding-left: 10px;
  padding-top: 100px;
  text-align: center;
}
.slide-image {
  width: 580px;
  height: 745px;
}
.slide-image img {
  padding-top: 100px;
}
.operating-system {
  width: 50px;
  height: 50px;
  padding-right: 30px;
}
.systems {
  width: 265px;
  padding-left: 44px;
}
.apple {
  width: 60px;
  height: 60px;
}
.slide-p {
  font-size: 18px;
  text-align: center;
  padding-top: 50px;
}
/* Single Gallery Page */
/* Styles for Cooments */
/* Add Comment Form */
/* Events Styles */
/*
* About Styles
*/
